<div class="card mb-3">
  <div class="card-header">
    <i class="fa-solid fa-chart-line"></i> Customer Segmentation
  </div>

  <div class="card-body text-center">
    <iframe 
      title="cs1"
      width="100%" 
      height="350"
      src="https://app.powerbi.com/view?r=eyJrIjoiM2Y2NmI2OTktMjVlYy00MTlhLTkxNGMtNWQyNDU3MzQ2ZjJkIiwidCI6IjNlOGY0OTE1LTJlMjktNDlkZC1iYmQ5LTVjYjM3YWY5YjlhYSJ9" 
      frameborder="0" 
      allowFullScreen="true">
    </iframe>
  </div>
</div>
